@model List<Movies.Extensions.CartItem>
@{
    ViewData["Title"] = "Cart";
}

@if (Model.Count == 0)
{
    <div class="text-center"> 
        <h1 class="display-4">Your cart is empty!</h1>
        <hr>
        <a asp-controller="Home" asp-action="Product">Continue shopping</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">cart items</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th></th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <form method="post" asp-controller="Cart" asp-action="RemoveFromCart">
                            <input type="hidden" name="productId" value="@item.Product.Id" />
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove">
                        </form>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Product" asp-route-id="@item.Product.Id"
                                style="text-decoration:none;color:inherit">
                            @item.Product.Title
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Product" asp-route-id="@item.Product.Id">
                        @{
                            try
                            {
                                var image = item.Product.ProductImages.FirstOrDefault(x => x.IsMainImage == true);
                                if (image != null)
                                {
                                    <img height="100px" src="@image.FileName" alt="@item.Product.Title" />
                                }
                                else
                                {
                                    <img height="100px" src="~/images/noimage.png" alt="@item.Product.Title" />
                                }
                            }
                            catch
                            {
                                <img height="100px" src="~/images/noimage.png" alt="@item.Product.Title" />
                            }
                        }
                        </a>
                    </td>
                    <td>@item.Product.Price.ToString("0.00") €</td>
                    <td>
                        @* @item.Quantity *@
                        <form method="post" asp-controller="Cart" asp-action="ChangeCartItemQuantity">
                            <input type="hidden" name="productId" value="@item.Product.Id" />
                            <input type="number" placeholder="@item.Quantity" name="quantity" value="@item.Quantity" />
                            <input type="submit" class="btn btn-info btn-sm" value="Change">
                        </form>
                    </td>
                    <td>@((item.Product.Price * item.Quantity).ToString("0.00")) €</td>
                </tr>
            }
            <tr>
                <td colspan="5" class="text-right">Total:</td>
                <td>@Model.Sum(x => x.Product.Price * x.Quantity).ToString("0.00") €</td>
            </tr>
        </tbody>
    </table>

    <hr />
    <a class="btn btn-primary btn-lg float-left" asp-controller="Home" asp-action="Product">Continue shopping</a>
    <a class="btn btn-success btn-lg float-right" style="float:right" asp-controller="Home" asp-action="Order">Order products</a>
}
